.container
  %br/
  %br/
  %br/
  %br/
  .hero-unit
    - if current_user
      - if current_user.google_auth.present?
        = link_to "Disconnect Google Calendar", disconnect_google_path, class: "btn btn-warning btn-large"
      - else
        = link_to "Connect Google Calendar", "/users/auth/google_oauth2", class: "btn btn-primary btn-large"

      - if current_user.salesforce_auth.present?
        = link_to "Disconnect Sales Force", disconnect_salesforce_path, class: "btn btn-warning btn-large"    
      - else
        = link_to "Connect Sales Force", "/users/auth/salesforce", class: "btn btn-success btn-large"

      - if current_user.salesforce_auth.present?
        = link_to "Show Event", show_event_path, class: "btn btn-warning btn-large"

      - if current_user.salesforce_auth.present? && current_user.google_auth.present?
        = link_to "Create Events", create_event_path, class: "btn btn-warning btn-large"

    - else
      %h1 Hello
      Please login to connect Google calendar and Sales Force.