%table{:border => "1"}
  %thead
    %th= "Id"
    %th= "Subject"
    %th= "Description"
    %th= "Start Time"
    %th= "End Time"
    %th= "Location"
  %tbody
    - @events.each do |event|
      %tr
        %td= event["Id"]
        %td= event["Subject"]
        %td= event["Description"]
        %td= event["StartDateTime"]
        %td= event["EndDateTime"]
        %td= event["Location"]